@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Raleway:wght@300;400;500;600;700;800&display=swap');

body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  text-shadow: 3px 0 #DA0463;
  font-family: 'Raleway', sans-serif;
}
.w {
  cursor:pointer;
  background-color: #F7CAC9;
  box-shadow: 0 3px 6px #DA0463;
}

.a {
  cursor:pointer;
  background-color: #FFCCBC;
  box-shadow: 0 3px 6px #DB0463;
}

.s {
  cursor:pointer;
  background-color: #FFE7BC;
  box-shadow: 0 3px 6px #DA0463;
}

.d {
  cursor:pointer;
  background-color: #FFF3BC;
  box-shadow: 0 3px 6px #DA0463;
}

.j {
  cursor:pointer;
  background-color: #FFE3C9;
  box-shadow: 0 3px 6px #DA0463;
}

.k {
  cursor:pointer;
  background-color: #FFDBCB;
  box-shadow: 0 3px 6px #DA0463;
}

.l {
  cursor:pointer;
  background-color: #FFB7C9;
  box-shadow: 0 3px 6px #DA0463;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  font-family: 'Playfair Display', serif;
}
