@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,300&display=swap');
:root{
    background: #a4c5ea;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 65px;
}

.header .navbar .logo{
    font-weight: 600;
    float: left;
}

.heaser .navbar ul{
    list-style-type: none;
    overflow: hidden;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.header .navbar .menu{
    float: right;
}

.header .navbar .nav-items{
    display: inline-block;
    margin-right: 25px;
}

.header .navbar .menu .nav-items a{
    text-decoration: none;
    color: #000000;
}

.header .navbar .extra{
    display: inline;
    margin-left: 50px;
}

.header .navbar .nav-items .getting-started{
    background-color: #5654b3;
    color: #ffffff;
    border-radius: 5px;
    width: auto;
    border: 0;
    padding: 8px 20px;
}