@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,300&display=swap');
:root{
    background: #a4c5ea;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    float: right;;
}

li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}