@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,300&family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Oswald:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

header{
    height: 95vh;
    background: url('./Used images/1.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.navbar{
    height: 5.5rem;
    background-color: #303030;
    position: relative;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.header .navbar .logo{
    float: left;
    margin: 0.2em 11.5em;
    height: 5em;
}

.header .navbar .menu .nav-items{
    display: inline-block;
    margin-right: 5.5em;
    margin-left: 1.25em;
    margin-top: 1.5em;
    justify-content: center;
    align-items: center;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.header .navbar .menu{
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-right: 20em;
}



.header .navbar .menu .nav-items a{
    color: white !important;
    text-decoration: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.title{
    position: absolute;
    top: 37%;
    margin-left: 11.5em;
}

.title .title-here{
    font-size: 9.5rem;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-weight: 500;
}

.title .random{
    font-size: 2.65rem;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 0.5em;
}

.title .register{
    color: #ffffff;
    background-color: #e8631c;
    height: 5.5rem;
    width: 29.5rem;
    text-decoration: none;
    border: 0;
    border-radius: 3px;
    margin-top: 1.25em;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

.tour{
    background-color: #e8631c;
    height:120vh;
}

.tour .dance-tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0.75em;
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-weight: 600;
}

.tour .random-again{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    padding-top: 1em;
    padding-bottom: 1em;
}

.image-row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 3em;
}

.image-row > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tour .image-row img {
    height: 45vh;
    width: 35rem;
}

.tour .image-row .text-caption {
    text-align: center;
    background-color: #303030;
    height: 7.5em;
    font-size: 2rem;
    color: #ffffff;
    width: 35rem;
    font-family: 'Montserrat', sans-serif;
}

.tour .image-row .continent{
    font-size: 2.75rem;
    font-family: 'Oswald', sans-serif;
    padding-top: 0.70em;
    padding-bottom: 0.20em;
}

.price{
    background-color: #303030;
    height: 105vh;
}

.price .courses{
    background-color:#e8631c;
    border-radius: 7px;
    height: 55vh;
    width: 35rem;
}

.price .pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0.75em;
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-weight: 600;
}

.price .random-reload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    padding-top: 1em;
    padding-bottom: 1em;
}

.price .image-row .courses .same-image{
    padding-top: 3.5rem;
}

.price .image-row .level{
    font-size: 2.75rem;
    font-family: 'Oswald', sans-serif;
    padding-top: 0.70em;
    padding-bottom: 0.20em;
    text-align: center;
    font-weight: 500;
}

.price .image-row .courses .text-caption{
    padding-top: 1rem;
    font-size: 2.25rem;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.price .image-row .dollar{
    margin-top: 2em;
    color: #ffffff;
    background-color: #303030;
    border: none;
    border-radius: 5px;
    height: 5.5rem;
    width: 29.5rem;
}

.amazing {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    height: 95vh;
    background-color: #e8631c;
}

.amazing .amazing-black {
    height: 100%;
    width: 50%;
}

.amazing .text-column {
    width: 50%;
    padding-left: 5rem;
    box-sizing: border-box;
    color: #ffffff; 
}

.amazing .text-column p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.amazing .text-column .amazing-dance{
    font-family: 'Oswald', sans-serif;
    font-size: 7rem;
    font-weight: 600;
    padding-bottom: 0.4em;
}

.amazing .text-column .random-4{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding-bottom: 2em;
}

.amazing .text-column .read{
    background-color: #303030;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    height: 6rem;
    width: 32rem;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.best {
    background-color: #e8631c;
    height: 95vh;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    z-index: -1;
}

.best .best-white {
    width: 60vw;
    height: 95vh;
    z-index: 0;
    color: #e8631c;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%);
}

.best .text-column {
    width: 50%;
    height: 95vh;
    z-index: 1;
    padding-top: 18.5em;
    padding-left: 7em;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #e8631c;
}

.best .text-column .best-dance{
    font-family: 'Oswald', sans-serif;
    font-size: 7rem;
    font-weight: 600;
    padding-bottom: 0.5em;
}

.best .text-column .random-5{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding-bottom: 2.25em;
}

.best .text-column .read-again{
    background-color: #303030;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    height: 6rem;
    width: 32rem;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.stats {
    background-color: #303030;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.stats .statistics {
    text-align: center;
    padding-top: -20%;
    font-family: 'Oswald', sans-serif;
    font-size: 8rem;
    color: #ffffff;
    font-weight: 600;
}

.stats .random-return {
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.25rem;
    padding-top: 0.5em;
}

.stats .stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8em;
}

.stats .stats-container > div {
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.stats .stats-container p:last-child {
    font-size: 3.5rem;
    margin-top: 0;
}

.stats .stats-container .margins .number{
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    font-weight: 600;
}

.stats .stats-container .margins{
    margin-left: 20%;
    margin-right: 20%;
}

.stats .stats-container .margins .extra{
    width: 27rem;
}

.filter {
    position: relative;
    height: 170vh;
    width: 100%;
    background: url('./Used images/4.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    justify-content: center;
}

.filter::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 99, 28, 0.5);
    opacity: 0.5;
    transition: background-color 0.3s, color 0.3s;
}

.filter .random-once-again {
    padding-top: 9em;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    color: #ffffff;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.filter .big-name{
    font-family: 'Oswald', sans-serif;
    font-size: 7rem;
    padding-top: 2.25em;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.subscribe {
    height: 60vh;
    background-color: #e8631c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe .heading {
    text-align: center;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    font-weight: 600;
}

.subscribe .return {
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-top: 1.25em;
}

.subscribe .input-container {
    display: flex;
    align-items: center;
    padding-top: 3.5em;
    width: 65em;
}

.subscribe .email {
    height: 45px;
    border: #e3f0ff;
    width: 256px;
    flex: 1;
    padding: 5px;
    border: none;
    
    font-size: 2rem;
}

.subscribe .subs {
    height: 45px;
    width: 150px;
    background-color:#303030;
    color: #ffffff;
    border: none;
    margin: 0%;
    font-size: 15px;
    padding: 8px 20px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 2px;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 40vh;
    background-color: #303030;
}

.footer .about,
.footer .services,
.footer .other {
    float: right;
    width: 25%;
    font-size: 1.75rem;
    text-align: left;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    color: white;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.footer .about{
    margin-top: 3em;
    width: 20%;
}

.footer .head{
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.footer .contact{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2.5em;
    width: 40%;
    font-size: 2rem;
}

.footer .other{
    margin-top: 3em;
    width: 12.5%;
}

.footer .services{
    margin-top: 3em;
    width: 18.5%;
}

.footer .contact .image-space{
    margin-right: 0.5em;
}