@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,300&family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Oswald:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

header{
    height: 95vh;
    background: url('./Used images/1.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.navbar{
    height: 5.5rem;
    background-color: #303030;
    position: relative;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.header .navbar .logo{
    float: left;
    margin: 0.2em 11.5em;
    height: 5em;
}

.header .navbar .menu .nav-items{
    display: inline-block;
    margin-right: 5.5em;
    margin-left: 1.25em;
    margin-top: 1.5em;
    justify-content: center;
    align-items: center;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.header .navbar .menu{
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-right: 20em;
}



.header .navbar .menu .nav-items a{
    color: white !important;
    text-decoration: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.title{
    position: absolute;
    top: 37%;
    margin-left: 11.5em;
}

.title .title-here{
    font-size: 9.5rem;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}

.title .random{
    font-size: 3.25rem;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

.title .register{
    color: #ffffff;
    background-color: #e8631c;
    height: 5.5rem;
    width: 29.5rem;
    text-decoration: none;
    border: 0;
    border-radius: 3px;
    margin-top: 1.25em;
    font-size: 2.75rem;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}
